/*È«¾ÖCss*/
html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html,body {
  background: url("../green-fields-near-brown-mountain-210243.jpg") no-repeat;
  background-size: 100%;
  background-position-y: 50%;
}